.container {
  background-color: #3696da;
}

.header {
  font-family: lato, sans-serif;
  font-size: 26px;
  font-weight: 100;
  color: white;
  text-align: center;
  margin-top: 50px;
}

img {
  width: 50%;
}

h3 {
  font-family: lato, sans-serif;
  color: white;
  font-size: 15px;
  font-weight: 100;
  margin-bottom: 7px;
}

p {
  font-family: lato, sans-serif;
  font-size: 12px;
  text-align: center;
  color: #ccd7dd;
  margin-top: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 50px;
}

.row {
  display: flex;
  justify-content: center;
  width: 800px;
  margin: 0 auto;
}

.column-third {
  flex-basis: calc(100% / 3);
  display: flex;
  justify-content: center;
}

.image-wrapper {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  height: 100px;
  width: 100px;
}
