.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
}

.column-third {
  flex-basis: calc(100% / 3);
}

.column-fourth {
  flex-basis: calc(100% / 4);
}

.column-one-third {
  flex-basis: calc(33.3%);
}

.column-two-thirds {
  flex-basis: calc(66.6%);
}

img {
  width: 100%;
}
